body { background-color: #FFFFFF; color: #8C1839; }

#container {
	background-color: #FFFFFF; 
}
.inset {
	/*outline: solid 1px red;*/
	width: 90%;
	min-width: 320px; 
	max-width: 1200px;
	/*padding: 10px; */
	margin: auto;
	color: #333;
}

header 	{ background-color: #FFFFFF; padding: 5px; }
nav 	{ background-color: #FFFFFF; padding: 10px; }
#main 	{ background-color: #FFFFFF; padding: 10px; }
footer 	{ background-color: #8C1839; opacity: .6; padding: 10px; }

#header_logo { 
	white-space: nowrap;
	overflow: hidden;	
}

img { max-width: 100%; height: auto; }

/*-------------------------------------
| header and footer
-------------------------------------*/
header .inset {
	line-height: 200px;
	font-size: 50px;
	text-align: center;
}
footer .inset {
	line-height: 20px;
	font-size: 20px;
	text-align: center;
	color: white;
	font-family: 'Quicksand', sans-serif;
}
/*-------------------------------------
| nav
-------------------------------------*/
nav { text-align: center; min-height: 70px; }
nav a {
	display: inline-block;
	width: 75px; 
	line-height: 50px; 
	border-radius: 5px;
	background-color: #A47F81;
	color: #fff;
}
/*nav a:hover { background-color: #8C1839; color: #fff; text-decoration: none; }*/
nav a.chosen { background-color: #8C1839; opacity: .6;  color: white; }

/*-------------------------------------
| Main
-------------------------------------*/
footer .inset { line-height: 50px; }
/*#main section { min-height: 300px; }*/
#main section:nth-of-type(even) { background-color: #FFFFFF; }

/*-------------------------------------
| 12 Column Grid
-------------------------------------*/
/*.row > div { 
	outline: solid 2px green;
	min-height: 100px; 
}*/

img { max-width: 90%; }

/*-------------------------------------
| Pinned Navigation
-------------------------------------*/
/*#main section {
	min-height: 600px;
}*/

.pinned nav {
	position: fixed;
	top: 0px; 
	right: 0px;
	z-index: 3000;
	background: white;
	width: 100%;
}

.pinned header {
	margin-bottom: 70px;
}


/*-------------------------------------
| Hamburger Menu Toggle
-------------------------------------*/
nav { min-height: 70px; }
nav .glyphicon-menu-hamburger {
	font-size: 30px;
	color: #4A000C;
	line-height: 50px;
	text-decoration: none;
}
nav a {
	display: inline-block;
	margin: 10px auto;
}

@media screen and (min-width:700px) {
	nav .glyphicon-menu-hamburger { display: none; }

	nav a { display: inline-block; margin: 0px; }
}



/*-------------------------------------
| Dynamic Class Switching
-------------------------------------*/
/*.myBox {
	width: 300px;
	line-height: 300px; 
	text-align: center;
	margin: auto;
	background-color: yellow;
	font-size: 20px;
	transition: all .5s;
}
.myBox.one 		{ width: 500px; line-height: 200px; background-color: lime; }
.myBox.two 		{ width: 100px; line-height: 500px; background-color: orange; }
.myBox.three 	{ width: 700px; line-height: 400px; background-color: pink; }*/

/* Glyphicons*/

.glyphicon {
	font-size: 40px;
	color: #DF4975;
	transition: .5s all;
}
/*.glyphicon:hover {
	font-size: 50px;
	color: #DF4975;
}*/

/*Tables*/

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #8C1839; opacity: .6; color: white;
}

.About {
	font-size: 15px; 
	font-family: 'Quicksand', sans-serif;
	}

/*th.About {
	font-size: 20px; 
	font-family: 'Quicksand', sans-serif;}*/


h1 {
	font-size: 35px; 
	font-family: 'Quicksand', sans-serif;}

.row {
    margin-right: 0px;
    margin-left:  0px;
}

a.odd {
    color: white;
}

a.even {
    color: #8C1839;
}

a.even:hover {
    color: #DF4975;
    text-decoration: none;
}

a.odd:hover {
    color: #F5D1F7;
    text-decoration: none;
}


.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/loadingscreen.gif) center no-repeat #fff;
}

.shareplug { border-radius: 5px;
				border: none;
			color: white;
			background-color:rgba(140, 24, 57,0.55);
}









































































































































